.height4 {
	width: 100%;
	height: 4px;
}

.height24 {
	width: 100%;
	height: 24px;
}

.height50 {
	width: 100%;
	height: 50px;
}

.height90 {
	width: 100%;
	height: 90px;
}

.height207 {
	width: 100%;
	height: 207px;
}